body {
    background-image: url(../Assets/background.jpg);
    /*background webnya */
}

.card-img-left {
    /* untuk ukuran gambar disebelah kiri login*/
    width: 45%;
    background: scroll center url('../Assets/wp\ login.webp');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}