body{
    background-image: url(/Assets/background.jpg);
    margin: 20px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

nav{
    border:1px;
    padding: 0px;
    margin: 8px;
    border-radius: 10px;
}

.card-body{
    margin: 10px;
}

.card-menu{
    margin: 5px;
    padding: 20px;
}

.card-menu:hover{
    transition: all .3s ease-in-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-header{
    margin: 8px;
}

.class-info{
    padding: 10px;
}
