nav{
    border:1px;
    padding: 0px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ffffff;
}

.card{
    margin: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color: black;
}